$dark: #20222d;
$light: #cfcebc;
$shadow-light: rgba(255, 255, 255, 0.05);
$shadow-dark: rgba(0, 0, 0, 0.2);

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  background-color: $dark;
  text-align: center;
  color: white;
}

h1 {
  margin-top: 25px;
}

.container {
  margin: 30px 0;
  justify-content: space-around;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}

div {
  border-radius: 100px;
  height: 100px;
  width: 100px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: -10px -10px 20px 0px $shadow-light,
    10px 10px 20px 0px $shadow-dark;
}

*:focus {
    outline: none;
}

button {
  border: none;
  height: 70px;
  width: 140px;
  margin: 20px;
  background-color: lighten($dark, 2%);
  font-weight: bold;
  border-radius: 10px;
  color: white;
  box-shadow: 
    inset 0 0 15px rgba(55, 84, 170,0),
    inset 0 0 20px rgba(255, 255, 255,0),
    7px 7px 15px rgba(55, 84, 170,.15),
    -7px -7px 20px rgb(46, 45, 45),
    inset 0px 0px 4px rgba(255, 255, 255,.2);

    &:hover {
        box-shadow: 
          inset 7px 7px 15px rgba(55, 84, 170,.15),
          inset -7px -7px 20px rgb(48, 47, 47),
          0px 0px 4px rgba(255, 255, 255,.2);
      }
      transition: box-shadow 399ms ease-in-out;
}

.neu {
  box-shadow: -10px -10px 20px 0px $shadow-light,
    10px 10px 20px 0px $shadow-dark;
}

.queen {
    background-color: red;
}

.worker {
    background-color: orange;
}

.drone {
    background-color: #F7B761;
}
